@use "colours" as *;

@font-face {
  font-family: "SmartMondayRegular";
  src: url("/fonts/Calibri-Regular.ttf") format("truetype");
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: "SmartMondayBold";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 800 999;
  font-display: swap;
}

@font-face {
  font-family: "SmartMondayBold";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 1 799;
  font-display: swap;
}

$font-size-xs: max(10px, 0.9vw);
$font-size-s: max(11px, 1.1vw);
$font-size-m: max(12px, 1.4vw);
$font-size-l: max(30px, 2.2vw);
$font-size-xl: max(30px, 4vw);

$font: "SmartMondayRegular", serif;
$font-headings: "SmartMondayBold", serif;

body {
  font-family: $font;
  color: $black;
}

sup {
  line-height: 0;
  vertical-align: super;
  font-size: $font-size-xs;
}

h1 {
  font-family: $font-headings;
  font-weight: 900;
}

h2,
h3,
h4,
h5 {
  font-family: $font-headings;
  font-weight: 700;
}

h1 {
  font-size: $font-size-xl;
  margin-bottom: 40px;
}

h2 {
  font-size: $font-size-l;
  margin-top: 60px;
  margin-bottom: 20px;
}

h3 {
  font-size: $font-size-m;
  margin-bottom: 20px;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p,
span {
  margin-bottom: 1rem;
  line-height: 130%;
  font-size: $font-size-m;

  &.disclaimer {
    font-size: $font-size-s;
  }
  &.xs {
    font-size: $font-size-xs;
  }
  &.s {
    font-size: $font-size-s;
  }
  &.l {
    font-size: $font-size-l;
  }
  &.xl {
    font-size: $font-size-xl;
  }
}

li {
  &.disclaimer {
    line-height: 130%;
    font-size: $font-size-s;
  }
}

strong,
.bold {
  font-weight: bold;
}
